body{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 2rem;
    font-family: monospace;
}
hr{
    width: 50vw;
}
li.host{
    color: red;
}
li.peer{
    color: blue;
}