body{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 2rem;
    font-family: monospace;
}
h1{
    font-size: 2rem;
    color: #333 !important;
    font-style: italic;
}
h1 a{
    text-decoration: none;
    color: #333;
}
li{
    margin-top: 25px;
}